{
  "server": {
    "authKey": "ZGVidWcgbW9kZQ==",
    "encryptKey": "ZGVidWcgbW9kZQ==",
    "databaseFile": "test.db",
    "logosDirectory": "/Users/ameske/Documents/go/src/github.com/ameske/nfl-pickem/logos",
    "autoupdateEnabled": false
  },
  "email": {
    "enabled": true,
    "type": "fs"
  }
}
