{
  "server" : {
    "authKey" : "CHANGEME",
    "encryptKey" : "CHANGEME",
    "databaseFile" : "/opt/ameske/nfl/nfl.db",
    "logosDirectory" : "/opt/ameske/nfl/logos/"
  },
  "email" : {
    "enabled" : false,
    "type" : "email",
    "sendAsAddress" : "",
    "password" : "",
    "smtpAddress" : ""
  }
}

